<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.charg.chargstation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".root.ChargeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MapActivity" />
        <activity android:name=".ui.activities.WalletActivity" />
        <activity android:name=".ui.activities.ChangeWalletActivity" />
        <activity android:name=".ui.activities.FilterActivity" />
        <activity android:name=".ui.activities.BuyChargActivity" />
        <activity android:name=".ui.activities.FavoritesActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.sendChargActivity.SendChargActivity" />
        <activity android:name=".ui.activities.ContractActivity" />
        <activity android:name=".ui.activities.chargingActivity.ChargingActivity" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.parkingActivity.ParkingActivity" />
        <activity android:name=".ui.activities.becomeOwner.BecomeOwnerActivity" />
        <activity android:name=".ui.activities.becomeOwner.FamilyPlanActivity" />
        <activity android:name=".ui.activities.stationActivity.StationActivity" />
        <activity android:name=".ui.activities.SocketIOActivity" />
        <activity android:name=".ui.activities.chargingCCActivity.ChargingCCActivity" />
        <activity android:name=".ui.activities.chargeCoinService.ChargeCoinServiceActivity" />
        <activity android:name=".ui.activities.webBasedActivity.WebBasedActivity" />
        <activity android:name=".ui.activities.stationServiceActivity.NodeServiceActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c05e72f8799f7f2b00b4437f32467c5159cf6aa2" />
    </application>

</manifest>